<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/products/cartPage.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap" rel="stylesheet">

    <style>

      
#header{
            width:90%;
            margin:auto; 
         }
         #head1{
            
             display:flex;
             background-color: white;
             position:fixed;
             width:90%;
             z-index: 999;
             top:0;
             height:72px;
         }
         #head1 img{
             width:15%;
         }
         #search{
             display:flex;
             border:1px solid rgb(226,226,226);
             margin: 18px 35px;
             width:130%;
             border-radius:5px;
             /* height: max-content; */
             background-color: rgb(248,248,248);
             /* padding: 3px; */
           
         }
         input{
             height: auto;
         }
         #search input{
             width:90%;
            background-color: rgb(248,248,248);
             border-color: transparent;
             font-size:18px
         }
         #search img{
             width: 25px;
             padding:5px;
         }
         #options{
         margin:10px 2px;
         display:flex;
         
         }
         .items{
            width:50px;
             margin:5px;
             justify-content: center;
         align-items: center;
            
         }
         #options .items img{
             width: 20px;
             height:20px;
             margin: 5px;
             
          
         } 
         
         .items p{
             color:rgb(0, 0, 0);
            font-size: 13px;
             margin-top:-5px;
             margin-left:2px;
         }
         
         
 </style>        
</head>
<body>
    <!-- navbar code starts there -->
     
<div id="header">
    <div onclick="home()" id="head1">
        <img src="https://ii1.pepperfry.com/images/svg/pf-logo-jan18.svg?v=1">
        <div id="search">
            <input type="text"placeholder="Search">
            <img src="https://image.flaticon.com/icons/png/128/482/482631.png">
        </div>
        <div id="options">
            <div class="items">
                <img src="https://ii1.pepperfry.com/images/svg/header-track-icon-2021.svg">
                <p>Track</p>
            </div>

            <div class="items">
                <img src="	https://ii1.pepperfry.com/images/svg/header-wishlist-icon-2021.svg">
                <p>Wishlist</p>
            </div>
            <div class="items">
                <img src="https://ii1.pepperfry.com/images/svg/header-cart-icon-2021.svg
                ">
                <p>Cart</p>
            </div>
            <div onclick="profile()"class="items">
                <img src="	https://ii1.pepperfry.com/images/svg/header-profile-icon-2021.svg
                ">
                <p>Profile</p>
            </div>
           
        </div>
    </div>

    <!-- Navbar code ends there -->


    <div class="cart">
        <div class="cart-div">
            <div class="cart-header">
                <div class="pin-block">
                    <span>Showing Availability At</span>
                    <input type="text" placeholder="Pincode..."/>
                    <a>Check</a>
                    <div id="cross">+</div>
                </div>

                <div class="tabs">
                    <span id="cart">My Cart</span>
                    <span id="wishlist">My Wishlist</span>
                    <span id="recent">Recently Viewed</span>
                </div>
            </div>

            <div id="cart-body">
                <div id="cart-added">

                </div>
                <div id="cart-added2">
                
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<script src="/static/products/cartPage.js"></script>
