<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="/static/products/footerAboutPage.css">
</head>
<body>
    <div id="about-us">
        <div id="banner-section">
            <div class="row">
                <div id="vedio">
                    <iframe width="100%" height="515" src="https://www.youtube.com/embed/JuZhjznJScI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <div id="peppery-fact">
            <div class="row">
                <div class="heading">
                    <h5>PEPPERFRY FACTS</h5>
                </div>
            </div>
        </div>
        <div id="facts">
            <div id="container-aboutUs"> 
                <div id="col1">
                    <div class="div-col1">
                        <div id="div1">  <img src="https://ii2.pepperfry.com/media/wysiwyg/banners/abt-icon_1_29_march_2019.png" alt=""></div> 
                    </div>
                    <div class="div-col1"> 
                        <div id="div21"><img src="https://ii3.pepperfry.com/media/wysiwyg/banners/abt-icon_5_5oct2017.png" alt=""></div>
                        <div id="div22"><img src="https://ii1.pepperfry.com/media/wysiwyg/banners/abt-icon_6_5oct2017.png" alt=""></div>
                     </div>
                    <div class="div-col1">
                        <div id="div3"><img src="https://ii2.pepperfry.com/media/wysiwyg/banners/abt-icon_9_29_march_2019.png" alt=""></div>
                    </div>
                </div>
                 <div id="col2"> 
                    <div class="div-col2">
                        <div id="div1-col2"> <img src="https://ii3.pepperfry.com/media/wysiwyg/banners/abt-icon_2_5oct2017.png" alt=""></div> 
                    </div>
                    <div class="div-col2">
                        <div id="div2-col2"><img src="https://ii1.pepperfry.com/media/wysiwyg/banners/abt-icon_7_5oct2018.png" alt=""></div>
                    </div>  
                </div>   
                <div id="col3">
                    <div class="div-col3">
                        <div id="div11-col3">  <img src="https://ii2.pepperfry.com/media/wysiwyg/banners/40Studios1_29_march_2019.jpg" alt=""></div> 
                        <div id="div12-col3"><img src="https://ii3.pepperfry.com/media/wysiwyg/banners/abt-icon_4_19_march_2019.jpg" alt=""></div>
                    </div>
                    <div class="div-col3"> 
                        <div id="div2-col3"><img src="https://ii1.pepperfry.com/media/wysiwyg/banners/abt-icon_8_5oct2017.png" alt=""></div>
                     </div>
                    <div class="div-col3">
                        <div id="div3-col3"><img src="https://ii2.pepperfry.com/media/wysiwyg/banners/abt-icon_10_5oct2017.png" alt=""></div>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</body>
</html>
 
