<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Payment Page</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap" rel="stylesheet">

</head>
  <link rel="stylesheet" href="/static/products/paymentpage.css" />
  <body>
    <div id="container">
      <div id="header">
        <div>
          <a  href="/products/home"> <img src="https://ii1.pepperfry.com/images/svg/pf-logo-jan18.svg?v=1" /></a>
        </div>
        <div id="headings">
          <div id="cart">
            <img
              src="https://image.flaticon.com/icons/png/512/833/833314.png"
              />
            <p>cart ---- Delivery & Billing Address ---- Payment</p>
          </div>
        
        </div>
        <div id="welcome">
          <p>Welcome tarun</p> 
        </div>
      </div>
      <hr style="  border-top: 1px solid rgb(216,216,216);">
      
      <div id="row2">
          <h2>In Your Cart</h2>
      </div>
<div id="content">
    <div id="content1">
        <div id="pin">
            <div id='pin1'>
                <img src="https://image.flaticon.com/icons/png/512/684/684809.png">
                <p>Enter Your Pincode For Delivery & Assembly Information</p>
            </div>
            <input type="number" id="input" placeholder="pincode">
            <button id="btn">Go</button>
        </div>
        <div id="green">
        <div id="img">
        </div>
        <div id="title">
           <div id="appendp"> 
               <!-- <p>Avian Solid Wood 1 Seater Sofa In Provincial Teak Finish - Woodsworth By Pepperfry</p> -->
            </div>
            <div id=></div>
            
 
          </div>
          <div id="price">
            <div id=price1></div>
            <div id=price2></div>   
          </div>
        </div>
      </div>

    <!-- Billing Info Starts from there -->
    <div id="content2">
        <h2>Have a Coupon Code?</h2>
        <div id="coupon">
            <input type="email">
            <button>APPLY</button>
        </div>

        <div class="pricedata" id="pr1">
            <p>Cart Value</p>
            <h4 id="mrp-price">Rs.35,999</h4>

        </div>

        <div class="pricedata" id="pr2">
            <p>Retail Discount</p>
            <h4 id="discount">Rs.(-)14,000</h4>

        </div>

        <div class="pricedata" id="pr3">
            <p>Offer Price</p>
            <h4 id="netPrice">Rs.21,999</h4>

        </div>
      <div id="delivery"> <p>Delivery & Assembly Charges Extra. Enter Pincode To Know</p></div> 

        <div class="pricedata3" >
            <h2>You Pay</h2>
            <h2 id="netpayable">Rs.21,999</h2>

        </div>
       <div id="emi"> <p>No Cost EMI available. EMI starting ₹ 2,326/month</p></div>

        <button onclick="success()"id="order_button">PLACE ORDER</button>

    </div>




</div>


    </div>
  </body>
</html>

<script src="/static/products/paymentPage.js"></script>

